.home-para {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 3.5em;
  justify-content: center;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  padding-bottom: 1rem;
  background-color: rgb(25, 232, 53);
  background: transparent;
  color: rgb(101, 106, 102);
}

main {
  background-size: cover;
  background-position: center;
  min-height: 100%;
  min-width: 100%;
  color: rgb(25, 232, 53);
}

